{{ with secret "secret/data/openproject/db" -}}
OPENPROJECT_DB_USER={{ .Data.data.username }}
OPENPROJECT_DB_PASSWORD={{ .Data.data.password }}
DATABASE_URL=postgres://{{ .Data.data.username }}:{{ .Data.data.password }}@openproject-db:5432/openproject
{{- end }}
{{ with secret "secret/data/openproject/admin" -}}
OPENPROJECT_ADMIN_EMAIL={{ .Data.data.email }}
OPENPROJECT_ADMIN_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/openproject/secret_key" -}}
SECRET_KEY_BASE={{ .Data.data.value }}
{{- end }}
{{ with secret "secret/data/openproject/api" -}}
{{- if .Data.data.token }}
OPENPROJECT_API_TOKEN={{ .Data.data.token }}
{{- end }}
{{- end }}
