{{ with secret "secret/data/plex/api" -}}
PLEX_TOKEN={{ .Data.data.token }}
{{- end }}
{{ with secret "secret/data/arr/sonarr" -}}
SONARR_API_KEY={{ .Data.data.api_key }}
SONARR_URL={{ .Data.data.url }}
{{- end }}
{{ with secret "secret/data/arr/radarr" -}}
RADARR_API_KEY={{ .Data.data.api_key }}
RADARR_URL={{ .Data.data.url }}
{{- end }}
PLEX_URL=http://192.168.10.201:32400
