{{ with secret "secret/data/netbox/postgres" -}}
DB_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/netbox/redis" -}}
REDIS_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/netbox/redis-cache" -}}
REDIS_CACHE_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/netbox/secret_key" -}}
SECRET_KEY={{ .Data.data.value }}
{{- end }}
{{ with secret "secret/data/netbox/app" -}}
API_TOKEN_PEPPER_1={{ .Data.data.api_token_pepper }}
{{- end }}
{{ with secret "secret/data/netbox/admin" -}}
SUPERUSER_NAME={{ .Data.data.username }}
SUPERUSER_EMAIL={{ .Data.data.email }}
SUPERUSER_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/netbox/api_token" -}}
SUPERUSER_API_TOKEN={{ .Data.data.token }}
{{- end }}
