{{ with secret "secret/data/plane/db" -}}
DATABASE_URL=postgresql://plane:{{ .Data.data.password }}@plane-db/plane
{{- end }}
{{ with secret "secret/data/plane/app" -}}
SECRET_KEY={{ .Data.data.secret_key }}
{{- end }}
{{ with secret "secret/data/plane/admin" -}}
DEFAULT_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/plane/minio" -}}
AWS_ACCESS_KEY_ID={{ .Data.data.username }}
AWS_SECRET_ACCESS_KEY={{ .Data.data.password }}
{{- end }}
