{{ with secret "secret/data/obot/admin" -}}
OBOT_ADMIN_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/github/api" -}}
GITHUB_TOKEN={{ .Data.data.token }}
{{- end }}
{{ with secret "secret/data/plane/db" -}}
POSTGRES_DSN=postgresql://plane:{{ .Data.data.password }}@docker-plane-db-1:5432/plane
{{- end }}
