{{ with secret "secret/data/arr/sonarr" -}}
HOMEPAGE_VAR_SONARR_API_KEY={{ .Data.data.api_key }}
HOMEPAGE_VAR_SONARR_URL={{ .Data.data.url }}
{{- end }}
{{ with secret "secret/data/arr/radarr" -}}
HOMEPAGE_VAR_RADARR_API_KEY={{ .Data.data.api_key }}
HOMEPAGE_VAR_RADARR_URL={{ .Data.data.url }}
{{- end }}
{{ with secret "secret/data/arr/prowlarr" -}}
HOMEPAGE_VAR_PROWLARR_API_KEY={{ .Data.data.api_key }}
HOMEPAGE_VAR_PROWLARR_URL={{ .Data.data.url }}
{{- end }}
{{ with secret "secret/data/plex/api" -}}
HOMEPAGE_VAR_PLEX_TOKEN={{ .Data.data.homepage_token }}
{{- end }}
{{ with secret "secret/data/grafana/api" -}}
HOMEPAGE_VAR_GRAFANA_TOKEN={{ .Data.data.homepage_token }}
{{- end }}
{{ with secret "secret/data/plane/api" -}}
HOMEPAGE_VAR_PLANE_TOKEN={{ .Data.data.homepage_token }}
{{- end }}
{{ with secret "secret/data/opnsense/api" -}}
HOMEPAGE_VAR_OPNSENSE_KEY={{ .Data.data.api_key }}
HOMEPAGE_VAR_OPNSENSE_SECRET={{ .Data.data.api_secret }}
HOMEPAGE_VAR_OPNSENSE_HOST={{ .Data.data.host }}
{{- end }}
