{{ with secret "secret/data/inventree/postgres" -}}
INVENTREE_DB_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/inventree/redis" -}}
INVENTREE_CACHE_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/inventree/secret_key" -}}
INVENTREE_SECRET_KEY={{ .Data.data.value }}
{{- end }}
{{ with secret "secret/data/inventree/admin" -}}
INVENTREE_ADMIN_USER={{ .Data.data.username }}
INVENTREE_ADMIN_EMAIL={{ .Data.data.email }}
INVENTREE_ADMIN_PASSWORD={{ .Data.data.password }}
{{- end }}
{{ with secret "secret/data/inventree/api_token" -}}
{{- if .Data.data.token }}
INVENTREE_API_TOKEN={{ .Data.data.token }}
{{- end }}
{{- end }}
